/****** Object:  Table [dbo].[tbl_Booking]    Script Date: 10/23/2017 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Booking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[HostID] [int] NULL,
	[UsreID] [int] NULL,
	[CheckIn] [datetime] NULL,
	[CheckOut] [datetime] NULL,
	[Nofguests] [int] NULL,
	[IsApproved] [bit] NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Host]    Script Date: 10/23/2017 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Host](
	[HostID] [int] IDENTITY(1,1) NOT NULL,
	[PlaceID] [int] NOT NULL,
	[Roomtype] [varchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[photo] [varbinary](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Review] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_Host] PRIMARY KEY CLUSTERED 
(
	[HostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Places]    Script Date: 10/23/2017 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Places](
	[PlaceID] [int] IDENTITY(1,1) NOT NULL,
	[Place] [nvarchar](max) NULL,
 CONSTRAINT [PK_Table_Places] PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Reviews]    Script Date: 10/23/2017 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[HostID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Review] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 10/23/2017 11:58:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DOB] [datetime] NULL,
	[EmailID] [nvarchar](max) NULL,
	[Phone] [bigint] NULL,
	[PreferredLanguage] [nvarchar](100) NULL,
	[PreferredCurrency] [varchar](100) NULL,
	[Address] [varchar](max) NULL,
	[Remarks] [varchar](max) NULL,
	[Password] [nvarchar](100) NULL,
	[usertype] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Booking] ON 

GO
INSERT [dbo].[tbl_Booking] ([BookingID], [HostID], [UsreID], [CheckIn], [CheckOut], [Nofguests], [IsApproved]) VALUES (1, 2, 2, CAST(0x0000A801008042A5 AS DateTime), CAST(0x0000A801008042A5 AS DateTime), 1, 1)
GO
INSERT [dbo].[tbl_Booking] ([BookingID], [HostID], [UsreID], [CheckIn], [CheckOut], [Nofguests], [IsApproved]) VALUES (2, 3, 4, CAST(0x0000A80100954EDA AS DateTime), CAST(0x0000A80100954EDA AS DateTime), 1, 0)
GO
INSERT [dbo].[tbl_Booking] ([BookingID], [HostID], [UsreID], [CheckIn], [CheckOut], [Nofguests], [IsApproved]) VALUES (3, 3, 2, CAST(0x0000A80100A83C7C AS DateTime), CAST(0x0000A80100A83C7C AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Host] ON 

GO
SET IDENTITY_INSERT [dbo].[tbl_Host] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Places] ON 

GO
INSERT [dbo].[tbl_Places] ([PlaceID], [Place]) VALUES (1, N'Chicago')
GO
INSERT [dbo].[tbl_Places] ([PlaceID], [Place]) VALUES (2, N'Newyork')
GO
INSERT [dbo].[tbl_Places] ([PlaceID], [Place]) VALUES (3, N'Sanfransisco')
GO
SET IDENTITY_INSERT [dbo].[tbl_Places] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Reviews] ON 

GO
INSERT [dbo].[tbl_Reviews] ([ReviewID], [HostID], [UserID], [Review]) VALUES (1, 2, 2, N'superb loc')
GO
INSERT [dbo].[tbl_Reviews] ([ReviewID], [HostID], [UserID], [Review]) VALUES (2, 2, 2, N'excellent')
GO
INSERT [dbo].[tbl_Reviews] ([ReviewID], [HostID], [UserID], [Review]) VALUES (3, 2, 2, N'excellent')
GO
SET IDENTITY_INSERT [dbo].[tbl_Reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

GO
INSERT [dbo].[tbl_Users] ([UserID], [FirstName], [LastName], [DOB], [EmailID], [Phone], [PreferredLanguage], [PreferredCurrency], [Address], [Remarks], [Password], [usertype]) VALUES (1, N'rahul', N's', NULL, N'rahul@gmail.com', 0, N'English', N'USD', N'12-23-45', N'', N'123', N'Host')
GO
INSERT [dbo].[tbl_Users] ([UserID], [FirstName], [LastName], [DOB], [EmailID], [Phone], [PreferredLanguage], [PreferredCurrency], [Address], [Remarks], [Password], [usertype]) VALUES (2, N'rakesh', N'v', NULL, N'rakesh@gmail.com', 0, N'English', N'USD', N'21-45-67', NULL, N'456', N'User')
GO
INSERT [dbo].[tbl_Users] ([UserID], [FirstName], [LastName], [DOB], [EmailID], [Phone], [PreferredLanguage], [PreferredCurrency], [Address], [Remarks], [Password], [usertype]) VALUES (3, N'balu', N's', NULL, N'balu@gmail.com', 0, N'Spanish', N'USD', N'balu@gmail.com', N'x', N'123', N'Host')
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Booking_host_HostID] FOREIGN KEY([HostID])
REFERENCES [dbo].[tbl_Host] ([HostID])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Booking_host_HostID]
GO
ALTER TABLE [dbo].[tbl_Booking]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Booking_tbl_users_HostID] FOREIGN KEY([UsreID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Booking] CHECK CONSTRAINT [FK_tbl_Booking_tbl_users_HostID]
GO
ALTER TABLE [dbo].[tbl_Host]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Host_Table_Places] FOREIGN KEY([PlaceID])
REFERENCES [dbo].[tbl_Places] ([PlaceID])
GO
ALTER TABLE [dbo].[tbl_Host] CHECK CONSTRAINT [FK_tbl_Host_Table_Places]
GO
ALTER TABLE [dbo].[tbl_Host]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Host_tbl_places_HostID] FOREIGN KEY([UserID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Host] CHECK CONSTRAINT [FK_tbl_Host_tbl_places_HostID]
GO
ALTER TABLE [dbo].[tbl_Reviews]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Reviews_tbl_Host] FOREIGN KEY([HostID])
REFERENCES [dbo].[tbl_Host] ([HostID])
GO
ALTER TABLE [dbo].[tbl_Reviews] CHECK CONSTRAINT [FK_tbl_Reviews_tbl_Host]
GO
ALTER TABLE [dbo].[tbl_Reviews]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Reviews_tbl_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[tbl_Users] ([UserID])
GO
ALTER TABLE [dbo].[tbl_Reviews] CHECK CONSTRAINT [FK_tbl_Reviews_tbl_Users]
GO
USE [master]
GO
